body {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
}

/* 
#my-extension-root{
  width: 400px;
  height: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 2147483647;
  background-color: white;
  box-shadow: 0px 0px 5px #0000009e;
}

#my-extension-root iframe {
  width: 100%;
  height: 100%;
  border: none;
} */

@font-face {
  font-family: 'markdown-stick-notes-family-anonymous-pro';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Anonymous_Pro/AnonymousPro-Regular.ttf'); 
}
@font-face {
  font-family: 'markdown-stick-notes-family-b612-mono';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/B612_Mono/B612Mono-Regular.ttf'); 
}
@font-face {
  font-family: 'markdown-stick-notes-family-inconsolata';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Inconsolata/Inconsolata-Regular.ttf'); 
}
@font-face {
  font-family: 'markdown-stick-notes-family-pt-mono';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/PT_Mono/PTMono-Regular.ttf'); 
}
@font-face {
  font-family: 'markdown-stick-notes-family-roboto-mono';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto_Mono/RobotoMono-Regular.ttf'); 
}
@font-face {
  font-family: 'markdown-stick-notes-family-source-code-pro';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Source_Code_Pro/SourceCodePro-Regular.ttf'); 
}
@font-face {
  font-family: 'markdown-stick-notes-family-space-mono';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Space_Mono/SpaceMono-Regular.ttf'); 
}