.CodeMirror {
  position:absolute;
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
}

.handle {
  height: 20;
}

.editor textarea {
  padding: 20px;
}

/* .CodeMirror-wrap pre {
  word-break: break-word;
} */